<div class="flex flex-col justify-start rounded-md my-16 pl-32 py-16 mr-24 bg-white mt-16">
    <h1 class="mb-16">Confirmation Page</h1>
    <div class="flex justify-between pr-32" *ngIf="data">
        <div class="pl-16">
            <h2 class="mb-8">Basic Details</h2>
            <div class="mb-16 pl-8">
                <p>Name: <span>{{data.basicDetails.name}}</span></p>
                <p>Date of Birth: <span>{{data.basicDetails.dateOfBirth}}</span></p>
                <p>Student ID: <span>{{data.basicDetails.studentId}}</span></p>
                <p>Citizen ID: <span>{{data.basicDetails.citizenId}}</span></p>
                <p>Dzongkhag: <span>{{data.basicDetails.dzongkhag}}</span></p>
                <p>Gewog: <span>{{data.basicDetails.gewog}}</span></p>
                <p>Village: <span>{{data.basicDetails.village}}</span></p>

            </div>
        </div>

        <div class="pl-16">
            <h2 class="mb-8">Demographic Details</h2>
            <div class="mb-16 pl-8">
                <p>School Name: <span>{{data.demoGraphicDetails?.schoolName}}</span></p>
                <p>Grade: <span>{{data.demoGraphicDetails?.grade}}</span></p>
                <p>House: <span>{{data.demoGraphicDetails?.house}}</span></p>
                <p>Subject: <span>{{data.demoGraphicDetails?.subject}}</span></p>
                <p>Subject Taken: <span>{{data.demdemoGraphicDetailsoGraphic?.noOfSubjectTakenByStudents}}</span></p>
                <p>Previous School: <span>{{data.demoGraphicDetails?.previousSchool}}</span></p>

            </div>
        </div>

        <div class="pl-16">
            <h2 class="mb-8">Parents/ Guidance Details</h2>
            <div class="mb-16 pl-8">
                <p>Name: <span>{{data.parentsDetails?.name}}</span></p>
                <p>Date Of Birth: <span>{{data.parentsDetails?.dateOfBirth}}</span></p>
                <p>Martial Status: <span>{{data.parentsDetails?.martialStatus}}</span></p>
                <p>Citizen ID: <span>{{data.parentsDetails?.citizenId}}</span></p>
                <p>Contact Number: <span>{{data.parentsDetails?.contactNumber}}</span></p>
                <p>Dzongkhag: <span>{{data.parentsDetails?.dzongkhag}}</span></p>
                <p>Gewog: <span>{{data.parentsDetails?.gewog}}</span></p>
                <p>Village: <span>{{data.parentsDetails?.village}}</span></p>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-between rounded-md items-center mr-24 p-16 bg-white mt-16">
    <p-button [outlined]="true">Cancel</p-button>
    <p-button (onClick)="confirm()">Confirm</p-button>
</div>