
    <form [formGroup]="basicDetails" class="flex flex-wrap mr-24 mt-24"> 
        
        <div class="flex flex-wrap pl-16  bg-white rounded-[8px]">
            <h2 class="mt-16 mb-16 w-full">Basic Details</h2> 
            <div class="p-float-label w-[48%] mb-24 mr-16 mt-16">
                <input pInputText id="name" class="w-full" formControlName="name"/>
                <label for="name">Name</label>
            </div>
            <div class="p-float-label w-[48%] mb-24 mt-16">
                <input pInputText id="studentId" class="w-full" formControlName="studentId"/>
                <label for="studentId">Student Id</label>
            </div>
            <div class="p-float-label w-[48%] mb-24 mr-16 mt-16">
                <input pInputText id="citizenId" class="w-full" formControlName="citizenId"/>
                <label for="citizenId">Citizen Id</label>
            </div>
            <div class="w-[48%] mb-24 mt-16">
                <div class="flex-auto p-float-label">
                    <p-calendar class="w-full" [inputStyle]="{class: 'w-full'}" placeholder="Date of Birth"  formControlName="dateOfBirth" [showIcon]="true" inputId="dateOfBirth"></p-calendar>
                    <label for="dateOfBirth" class="block mb-2"> Date Of Birth </label>
                </div>               
            </div>
            <div class="w-full my-16">
                <h4>Permanant Address</h4>
            </div>
            <div class="p-float-label w-[48%] mb-24 mt-16 mr-16">
                <input pInputText id="dzongkhag" class="w-full" formControlName="dzongkhag"/>
                <label for="dzongkhag">Dzongkhag</label>
            </div>
            <div class="p-float-label w-[48%] mb-24 mt-16">
                <input pInputText id="gewog" class="w-full" formControlName="gewog"/>
                <label for="gewog">Gewog</label>
            </div>
            <div class="p-float-label w-[48%] mb-24 mt-16">
                <input pInputText id="village" class="w-full" formControlName="village"/>
                <label for="village">vsillage</label>
            </div>
        </div>   
    
        <div class="flex justify-between rounded-md items-center p-16 w-full bg-white mt-16">
            <p-button [outlined]="true">Cancel</p-button>
            <p-button (click)="continue()">Continue</p-button>
        </div>
    </form>
