.avatar {
    background-image: url('https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?q=80&w=3370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.active {
    background-color: orangered;
    color: white;
}